@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Comic+Neue:wght@700&family=Secular+One&family=Source+Sans+Pro:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 2, 28);
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.gradient-background {
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 0%,
    rgba(5, 5, 58, 1) 50%,
    rgba(2, 2, 28, 1) 100%
  );
  overflow: auto;
}

.botonPurpura,
.btn-primary {
  background-color: #7b24d6;
  background-image: linear-gradient(90deg, #7b24d6 0%, #d81be2 100%);
  border: none;
  color: white;
}

/* Index */

.banner {
  height: 100vh;
}

.contenedor-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 13%,
    rgba(5, 5, 58, 0) 45%,
    rgba(2, 2, 28, 0) 100%
  );
}

.card {
  background-color: transparent;
  width: 369px;
  min-width: 300px;
}

.card:not(.card-promo) {
  border: none;
}

.bg-card {
  background: rgb(5, 5, 58);
  background: linear-gradient(
    5deg,
    rgba(5, 5, 58, 0) 0%,
    rgba(2, 2, 28, 0) 0%,
    rgba(44, 62, 80, 1) 100%
  );
}

.categorias {
  margin: 20px 0;
  flex-wrap: wrap;
  border-radius: 5px;
}
.categorias ul {
  list-style: none;
  text-align: center;
  flex-direction: column;
}
.categorias ul li {
  display: inline-block;
  margin-right: 10px;
  padding-top: 10px;
}
.categorias ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #7b24d6;
  list-style: none;
  text-decoration: none;
}
.categorias ul li a:hover {
  background-color: #9e86ff;
}

/* Página error 404 */
.background-error {
  background-image: url(./img/error.404.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;

  height: 100vh;
}

/* Página inicio sesión */
.inicio-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inicio-sesion_card {
  max-width: 300px;
}

/* Página acerca de nosotros */

.infoBox {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 150px;
  text-align: center;
  color: black;
  font-weight: 900;
  margin: 10%;
  padding: 5%;
}

/* Media queries */
@media all and (min-width: 767px) {
}

@media all and (min-width: 991px) {
  .logo {
    width: 60%;
  }

  .navb {
    position: sticky;
    width: 100%;
    z-index: 1000;
    top: 0px;
  }

  .position {
    margin-top: 10%;
  }

  .inicio-sesion_card {
    max-width: 1000px;
  }
}
