* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  height: 100vh;
  /* object-fit: fill; */
}

.contenedor-banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 13%,
    rgba(5, 5, 58, 0) 45%,
    rgba(2, 2, 28, 0) 100%
  );
}

.gradient-background {
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 0%,
    rgba(5, 5, 58, 1) 50%,
    rgba(2, 2, 28, 1) 100%
  );
  overflow: auto;
}

.btn-primary {
  background-color: #b10ef5;
}

.sugeridos {
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 0%,
    rgba(5, 5, 58, 1) 50%,
    rgba(2, 2, 28, 1) 100%
  );
}

.categorias {
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 0%,
    rgba(5, 5, 58, 1) 50%,
    rgba(2, 2, 28, 1) 100%
  );
  overflow: auto;
}

.categoria {
  display: grid;
  grid-template: 1fr/1fr;
  grid-template-areas: "img";
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: img;
}

.categoria::before {
  content: "Series";
  grid-area: img;
  width: 100%;
  height: 100%;
  /* background-color: rgba(281, 57, 70, .7); */
  background-color: rgba(2, 2, 28, 0.8);
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  clip-path: circle(0 at top right);
  transition: clip-path .4s;
}
@media (max-width: 960px) {
  .categoria::before {
    clip-path: circle(150% at top right);
  }
}


.categoria:hover::before{
  clip-path: circle(150% at top right);
}

.precios {
  background: rgb(2, 2, 28);
  background: linear-gradient(
    0deg,
    rgba(2, 2, 28, 1) 0%,
    rgba(5, 5, 58, 1) 50%,
    rgba(2, 2, 28, 1) 100%
  );
}

.card {
  background-color: transparent;
  width: 369px;
  min-width: 300px;
}

.card:not(.card-promo) {
  border: none;
}

.bg-card {
  /* background-image: linear-gradient(to bottom, #2c3e50, transparent); */
  background: rgb(5, 5, 58);
  background: linear-gradient(
    5deg,
    rgba(5, 5, 58, 0) 0%,
    rgba(2, 2, 28, 0) 0%,
    rgba(44, 62, 80, 1) 100%
  );
}

/* Pagina pelicula */

.info-pelicula {
  color: rgb(169, 168, 168);
}


.background-error {
  background-image: url(./imagenes/bg-error.webp);
  background-repeat: round;
  height: 100vh;
}